@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

.item img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 16px;
}

.homeslider {
    padding: 15px;
    padding-top: 10px;
}

.mainslide {
    position: relative;
}

.slick-arrow.slick-next {
    position: absolute;
    right: 15px;
}

.slick-arrow.slick-prev {
    position: absolute;
    left: 15px;
    z-index: 100;
}

.slick-arrow {
    background-color: #3c6060;
    border-radius: 50%;
    padding-top: 1px;
}

.slick-arrow:hover {
    background-color: #3c6060;
    scale: 1.2;
}

.mainslide .item {
    position: relative;
}

.mainslide .item .info {
    position: absolute;
    top: 0;
    left: 6%;
    z-index: 100;
}

.mainslide .item .info h2 {
    font-size: 50px;
    font-weight: bold;
    color: #355454;
}

.mainslide .item .info p {
    margin-top: -25px;
    font-size: 25px;
    font-weight: 600;
    color: #355454;
}


.msg {
    width: 80%; 
    max-width: 250px; 
    left: 20%; 
    transform: translateX(-50%); 
    position: absolute;
    height: 40px;
}

.msg input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.msg button {
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    background-color: #355454;
    color: white;
    cursor: pointer;
    position: absolute;
    height: 40px;
    width:100px;
    top: 0.6px;
    right: -80px;
}

@media screen and (max-width:776px) {
    .mainslide .item .info h2 {
        font-size: 40px;
    }
    .mainslide .item .info p {
        font-size: 20px;
    }
}
@media screen and (max-width:560px) {
    .mainslide .item .info h2 {
        font-size: 30px;
    }
    .mainslide .item .info p {
        font-size: 16px;
    }
    .msg{
        left:30%;
    }
}