@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

.item img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 16px;
}

.homeslider {
    padding: 10px;
    padding-top: 10px;
}

.mainslide {
    position: relative;
}

.slick-arrow.slick-next {
    position: absolute;
    right: 15px;
}

.slick-arrow.slick-prev {
    position: absolute;
    left: 15px;
    z-index: 100;
}

.slick-arrow {
    background-color: #3c6060;
    border-radius: 50%;
    padding-top: 1px;
}

.slick-arrow:hover {
    background-color: #3c6060;
    scale: 1.2;
}



.mainslide .item .info {
    position: absolute;
    top: 0;
    left: 6%;
    z-index: 100;
}

.mainslide .item .info h2 {
    font-size: 50px;
    font-weight: bold;
    color: #355454;
}

.mainslide .item .info p {
    margin-top: -25px;
    font-size: 25px;
    font-weight: 600;
    color: #355454;
}


@media screen and (max-width:776px) {
    .mainslide .item .info h2 {
        font-size: 40px;
    }

    .mainslide .item .info p {
        font-size: 20px;
    }
}

@media screen and (max-width:560px) {
    .mainslide .item .info h2 {
        font-size: 22px;
    }

    .mainslide .item .info p {
        font-size: 12px;
        margin-top: -18px;
    }

    .msg {
        max-width: 170px;
        height: 30px;
        left: 25%;
    }

    .msg button {
        width: 70px;
        height: 30px;
    }
}