.homeproduct {
    width: 98%;
    margin: 0 auto;
}

.homecon h2 {
    color: #3c6060;
    margin-top: 0;
}

.list li a {
    cursor: pointer;
    color: #2e4949;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.list li a:hover {
    color: #11a4a4;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.slick-list {
    padding: 0;
}

.tabs ul {
    margin-top: 0;
}

.homeproduct .xproduct {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 0px;
}

.homeproduct .items {
    padding: 10px 10px;
    border-radius: 15px;
}

.lowerpro .slick-slide {
    padding: 5px 10px;
}

.lowerpro {
    height: 600px;
}

.doflex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.coloum {
    flex: 1;
    max-width: 300px;
}

.topproducts {
    width: 100%;
}

.news .box {
    background: url(../../images/bg.png);
    width: 95%;
    margin: 0 auto;
    height: auto;
    border-radius: 15px;
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.news .box .newsinfo {
    width: 40%;
}

.news .box .newsimg {
    width: 60%;
}

.news .box .newsimg img {
    width: 100%;
}

@media screen and (max-width: 466px) {
    .homeproduct .items {
        margin: 0 auto;
    }
}

@media screen and (max-width: 750px) {
    .tabs {
        justify-content: center;
    }

    .tabs ul {
        gap: 12px;
    }
}

@media screen and (max-width: 640px) {
    .tabs h2 {
        font-size: 18px;
    }

    .list li a {
        font-size: 10px;
    }

}

@media screen and (max-width: 477px) {
    .homeproduct .xproduct {
        grid-template-columns: repeat(2, 1fr);
    }
}

