header {
    min-width: 100%;
    height: 80px;
    margin: auto;
    background-color: #3c6060;
    padding-bottom: 20px;
    margin-top: -20px;
}

.headerwrap {
    position: sticky;
    top: -15px;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.col img {
    width: 120px;
    height: auto;
}

.hsearch {
    width: 520px;
    height: 35px;
    padding-top: 5px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    background-color: #488d8d;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 20%);
}

.row {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    justify-content: space-evenly;
}

.hsearch .search input {
    width: 300px;
    height: 30px;
    border: 0;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 20%);
}

.hsearch .search {
    position: relative;
}

.dropdown {
    border: 1px solid black;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.hsearch .search img {
    position: absolute;
    top: 6px;
    right: -25px;
    width: 20px;
}

.hsearch {
    border-radius: 4px;
}

.hsearch .dropdown {
    background-color: #488d8d;
    margin-top: -5px;
    align-content: center;
    padding-right: 2px;
    padding-left: 2px;
    border-radius: 10px;
}

.tabs ul li {
    list-style: none;
}

.tabs {
    z-index: 100;
}

.com img {
    width: 25px;
    margin-bottom: -5px;
}

.cart img {
    margin-bottom: -4px;
    width: 25px;
}

.heart img {
    margin-bottom: -6px;

}

.acc img {
    margin-bottom: -10px;

}

.tabs ul {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #a3ffff;
}

/* .tabs ul li{
    display: flex;
    gap: 5px;
} */

.acc {
    position: relative;
}

.accdrop {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -20px;
    margin-top: 20px;
    width: 150px;
    padding: 5px;
    box-shadow: 0px 3px 6px rgba(188, 175, 175, 1.2);
    border-radius: 5px;
    background-color: white;
}

.accdrop li {
    padding: 3px 15px;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    display: flex;
}

.accdrop li img {
    width: 23px;
}

.track img {
    height: 25px;
}

.tabs ul li span button {
    background-color: #a3ffff;
    border-radius: 8px;
    color: rgb(79, 78, 78);
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.accdrop li:hover {
    background-color: #507272;
}

.acc {
    cursor: pointer;
}

.accdrop li:active {
    background-color: #488d8d;
}

.dropdown {
    color: white;
}

.dropdown img {
    width: 28px;
}

@media screen and (max-width:1025px) {
    .row {
        gap: 1px;
    }
}

@media screen and (max-width:990px) {
    .row {
        gap: 1px;
    }
}

@media screen and (max-width:920px) {
    .hsearch {
        width: 300px;
    }

    .row {
        gap: 2px;
    }
}

@media screen and (max-width:920px) {
    .hsearch .search input {
        width: 120px;
        margin: 0;
        font-size: 13px;
    }
}

@media screen and (max-width:990px) {
    .col img {
        width: 100px;
    }
}

@media screen and (max-width:745px) {
    .tabs ul li {
        font-size: 12px;
    }

    .tabs ul {
        gap: 4px;
    }

    .tabs {
        margin-left: -30px;
    }

    .com img {
        width: 20px;
    }

    .cart img {
        width: 20px;
    }

    .col img {
        width: 70px;
        height: 90px;
    }

    .header {
        padding-bottom: 0px;
    }
}

@media screen and (max-width:990px) {
    .dropdown {
        font-size: 15px;
    }

    .dropdown img {
        width: 20px;
    }
}

@media screen and (max-width:560px) {

    .tabs ul .com {
        display: none;
    }

    .hsearch {
        width: 240px;
    }

    .row {
        gap: 2px;
    }
}

@media screen and (max-width:560px) {
    .hsearch .search input {
        width: 120px;
        margin: 0;
        font-size: 12px;
    }
}

@media screen and (max-width:560px) {
    .dropdown {
        font-size: 10px;
    }

    .dropdown img {
        display: none;
    }

    .header {
        padding-bottom: 0px;
    }
}

@media screen and (max-width:480px) {
    .header {
        margin-top: 0px;
    }

    .dropdown {
        font-size: 9px;
    }

    .containor {
        padding-top: 20px;
    }

    .dropdown img {
        display: none;
    }

    .hsearch .search input {
        width: 80px;
        margin: 0;
        font-size: 12px;
    }

    .hsearch {
        width: 190px;
    }

    .col img {
        width: 50px;
        height: 70px;
    }
}