.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 6px #3c6060;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    background-color: #fff;
}


.flexme {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.containor {
    margin: 0 auto;
}

.flexme nav ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexme nav ul li {
    padding: 5px;
    border-radius: 5px;
}

.inline li a {
    color: #3c6060;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.inline li img {
    width: 15px;
    margin-bottom: -3px;
}

.number {
    display: flex;
    align-items: center;
}

.phnum h2 {
    color: #3c6060;
}

.number {
    margin-left: 35px;
}

.phimg img {
    margin-bottom: -5px;
    width: 40px;
    height: 40px;
}

.pagedropdown {
    position: absolute;
    top: 150px;
    height: 230px;
    overflow-y: scroll;
    z-index: 999;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 20%);
    margin-left: -55px;
    border-radius: 5px;
    background-color: white;
}

.pagedropdown ul {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
}

.pagedropdown ul li {
    margin-bottom: -15px;
}

.pagedropdown ul li:hover {
    background-color: #9db8b8;
}

.pagedropdown ul li:active {
    background-color: #c6d2d2;
}

/* .nav{
    position: sticky;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1000;
} */

.mega {
    height: fit-content;
    position: absolute;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 20%);
    border-radius: 5px;
    width: fit-content;
    left: 20px;
    margin-top: 18px;
    z-index: 100 !important;
    background-color: #fff;
    padding-left: 30px;
}

.main {
    display: flex;
    gap: 75px;
    padding-left: 20px;
}

.mega .main .ximg img {
    width: 500px;
}

.first ul,
.second ul,
.third ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.first ul li,
.second ul li,
.third ul li {
    margin-bottom: -25px;
    margin-left: -40px;
}

.main h4 {
    color: #283737;
}

.main ul li:hover {
    cursor: pointer;
    background-color: #9db8b8;
}

@media screen and (max-width:1000px) {
    .ximg img{
        display: none;
    }
    .mega{
        width: fit-content;
        height: fit-content;
    }
}

@media screen and (max-width:780px) {
    .phnum h2 {
        font-size: 15px;
    }

    .phimg img {
        width: 32px;
    }

    .phimg img {
        height: 32px;
    }

    .inline li a {
        font-size: 15px;
    }

    .flexme nav ul {
        gap: 10px;
    }

    .number {
        margin-left: 10px;
    }
}

@media screen and (max-width:565px) {
    .inline li a {
        font-size: 15px;
    }

    .phimg img {
        width: 22px;
    }

    .phimg img {
        height: 22px;
    }

}

@media screen and (max-width:567px) {
    .inline .no {
        display: none;
    }
}

@media screen and (max-width:535px) {
    .inline li img {
        width: 10px;
        margin-bottom: 7px;
        margin-left: 9px;
    }
    .number {
        display: none;
    }
    .mega{
        display: none;
    }
}