.fooflex {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #f8f3f3;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
}

.fooinfo h4,
p {
    margin: 0;
    color: #376868;
}

.footerbox {
    padding: 40px 0px;
    width: 97%;
    margin: 0 auto;
}

.fooflex .fooinfo {
    padding-left: 10px;
}

.fooflex .fooinfo p {
    font-size: 14px;
    font-weight: 500;
}

.fooflex img {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.fooflex:hover {
    img {
        transform: translateY(-8px);
    }
}

.foorow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 15px;
}

.locol img {
    width: 130px;
}

.locol p {
    margin: 0;
    margin-top: -30px;
    margin-bottom: 10px;
}

.locol p img {
    width: 20px;
    text-align: center;
    margin-bottom: -5px;
    padding-right: 5px;
}

.lowrow {
    display: flex;
    flex-wrap: wrap;
}

.locol2 ul li,
a {
    text-decoration: none;
    list-style: none;
    color: #376868;
}

.locol2 {
    margin-left: 30px;
    margin-top: 60px;
}

.locol2 h3 {
    color: #284444;
    margin-left: 40px;
}

.locol2 ul li a {
    transition: all 0.3s ease-in-out;
}

.locol2 ul li a:hover {
    padding-left: 3px;
}

.lowrow2 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.lowfoo {
    width: 96%;
    margin: 0 auto;
}

.anothefoo {
    margin-top: 50px;
}

.name h2 {
    margin: 0;
    margin-left: 80px;
}

.foopart {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.folo {
    display: flex;
    align-items: center;
}

.folo h3 {
    color: #2d5252;
}

.folo img {
    width: 25px;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.folo img:hover {
    padding-bottom: 10px;
}

hr {
    border: none;
    border-top: 1.32px solid #2d5252;
    margin: 20px;
}

@media screen and (max-width:765px) {
    .foorow {
        gap: 8px;
    }
}

@media screen and (max-width:502px) {
    .foorow {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:650px) {
    .folo img {
        width: 20px;
    }

    .folo h3 {
        font-size: 18px;
    }
}

@media screen and (max-width:520px) {
    .name h2 {
        font-size: 24px;
        margin-left: 20px;
    }

    .folo img {
        margin-left: 10px;
    }

    .name p {
        font-size: 17px;
    }
}

@media screen and (max-width:634px) {
    .locol2 {
        margin-left: 10px;
    }
}