.banner{
    padding: 20px 0px;
    width: 98%;
    margin: 0 auto;
}
.bimg img{
    width: 100%;
    border-radius: 15px;
}
.banner .bimg{
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}
.banner .bimg img:hover{
    transform: scale(1.09);
    transition: all 0.3s ease-in-out;
}